<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <link rel="stylesheet" href="<% process.cwd() %>/style.css" />
  </head>
  <body>
    <main>
      <% if(typeof data !== 'undefined') { %>
      <h1><%= data.title %></h1>
      <p class="date"><%= data.updatedAt %></p>
      <p><%= data.content %></p>
      <br />
      <a href="javascript:history.back()">Back</a>
      <% } %>
    </main>
  </body>
</html>
